/* Section Navbar */
/* Section Register */
/* Section Product */
/* Section Login */
/* Section Verify */
/* Section Setting */
@font-face {
  font-family: "Prompt-Regular.ttf";
  src: url("/fonts/Prompt-Regular.ttf");
}
body {
  font-family: "Prompt-Regular.ttf";
}
.ant-input-suffix {
  display: flex;
  align-items: center;
}
.ant-input-prefix {
  display: flex;
  align-self: center;
}
/* Section Navbar */
/* .rowNav {
  width: 100%;
}
.textRigth {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  color: white;
}
.navColor {
  background-color: #0ac72d;
  padding-bottom: 0px;
  padding-top: 0px;
}
.navColor .navbar-brand {
  color: white !important;
} */
.hovers:hover {
  color: #f26f21 !important;
  font-weight: 700;
}
.style-hnav {
  background-image: linear-gradient(
    #f26f21,
    #f26f21,
    #f26f21,
    #f26f21,
    #f26f21,
    rgb(248, 248, 248)
  );
  color: #ffffff;
  padding: 15px;
}
.style-snav {
  /* border-bottom: 1px solid; */

  padding-right: 0px;
}
@media only screen and (min-width: 501px) {
  .layout {
    justify-content: flex-end;
  }
}
@media only screen and (max-width: 501px) {
  .layout {
    justify-content: space-between;
  }
}
@media only screen and (max-width: 610px) {
  .display-max {
    display: none !important;
  }
  .layout {
    justify-content: flex-end;
  }
}
@media only screen and (min-width: 610px) {
  .display-min {
    display: none !important;
  }
}

/* Section Register */

.card-register {
  padding: 1em 2em;
  height: 100%;
  border: none;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  /* margin: 4em 0; */
  box-shadow: 0 20px 40px #a9a9a9;
  width: 100%;
}
.invoice-call .ant-collapse-header {
  display: flex;
}

.ant-message-error,
.ant-message-warning {
  display: flex;
  align-items: center;
}

/* Section Product */
.shop {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 900px;
}

.shop-menu {
  max-width: 240px;
  padding-right: 10px;
  padding-top: 5px;
}

.product {
  -webkit-box-shadow: 5px 0px 20px -4px rgba(0, 0, 0, 0.33);
  -moz-box-shadow: 5px 0px 20px -4px rgba(0, 0, 0, 0.33);
  box-shadow: 5px 0px 20px -4px rgba(0, 0, 0, 0.33);
  text-align: center;
  border: 2px solid white;
  transition: all 0.4s ease-in-out;
}

.list-group-hover:hover {
  cursor: pointer;
  transition: all 0.4s ease-in-out;
  background-color: #306eca;
  color: white;
  transform: scale(1.03);
}

.product:hover {
  cursor: pointer;
  border: 2px solid #f26f21;
  transform: scale(1.05);
}

.product-img {
  width: 200px;
  height: 200px;
  object-fit: contain;
}

.product-desc {
  cursor: pointer;
  max-width: 100px;
  overflow-x: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.password-pad {
  /* padding-left: 33px; */
}

/* Section Login */
.text-center .ant-input {
  text-align: center;
}
.btn-login,
.btn-login:active,
.btn-login:focus {
  background: #764abc;
  border-color: #905ae6;
  color: #fff;
}
.btn-login:hover {
  background: #764abc;
  border-color: #905ae6;
  color: #905ae6;
}

.navbar-wrapper {
  background: #764abc;
  color: #fff;
}

.navbar-list {
  padding: 0.25em 0.5em;
}

.navbar-center-title {
  font-size: 30px;
  font-weight: 700;
  color: #fff;
}

.image {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.container-wrapper {
  min-height: calc(100vh - 94px);
  display: flex;
  justify-content: center;
  align-items: center;
}



.card-authentication {
  padding: 1em 2em;
  height: 100%;
  border: none;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  /* margin: 4em 0; */
  box-shadow: 0 20px 40px #a9a9a9;
  width: 350px;
}

.e-commerce-logo {
  display: block;
  padding: 1em 0;
  width: 100px;
  margin: 0 auto 1em auto;
}

.sub-text-authentication {
  display: block;
  text-align: center;
  margin-top: 1em;
  padding: 1em;
  cursor: pointer;
  transition: 0.2s all ease-in-out;
  -webkit-transition: 0.2s all ease-in-out;
  -moz-transition: 0.2s all ease-in-out;
  -ms-transition: 0.2s all ease-in-out;
  -o-transition: 0.2s all ease-in-out;
}

.sub-text-authentication:hover {
  text-decoration: underline;
}

.checkout-button {
  color: #fff;
}

.margin-right-10-em {
  margin-right: 10em;
}
/* Section Verify */

.verify {
  -webkit-box-shadow: 5px 0px 20px -4px rgba(0, 0, 0, 0.33);
  -moz-box-shadow: 5px 0px 20px -4px rgba(0, 0, 0, 0.33);
  box-shadow: 5px 0px 20px -4px rgba(0, 0, 0, 0.33);
  text-align: center;
  border: 2px solid white;
  transition: all 0.4s ease-in-out;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 15px;
}
.verify:hover {
  cursor: pointer;
  border: 2px solid #f26f21;
  transform: scale(1.05);
}
.verify-img {
  width: 100%;

  object-fit: contain;
}
